{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "auto-import",
      {
        "declarations": [
          {
            "path": "react",
            "default": "React",
            "members": ["Component"]
          },
          {
            "path": "react-native",
            "members": [
              "Dimensions",
              "Image",
              "FlatList",
              "Platform",
              "ScrollView",
              "StyleSheet",
              "Text",
              "TouchableOpacity",
              "View"
            ]
          }
        ]
      }
    ]
  ]
}